<div class="login-form-container">
  <div class="login-card-container">
    <div class="card-header">
      <div class="tabs-container">
        <div [className]="!newUser ? 'tab active' : 'tab'"
             (click)="changeTab()">
          <span>Ingresar</span>
        </div>
        <div [className]="newUser ? 'tab active' : 'tab'"
             (click)="changeTab()">
          <span>Registrarse</span>
        </div>
      </div>
      <h3>Pokedex</h3>
    </div>

    <div class="card-body">
      <form [formGroup]="loginForm">
        <div class="form-field"
             *ngIf="newUser">
          <label for="full-name">Nombre Completo:</label>
          <input type="text"
                 placeholder="ej: John Doe"
                 id="full-name"
                 formControlName="fullName">
        </div>

        <div class="form-field">
          <label for="email">Correo Electrónico: <span class="text-red">*</span></label>
          <input type="email"
                 id="email"
                 placeholder="ej: john.doe@email.com"
                 formControlName="email">
        </div>

        <div class="form-field">
          <label for="password">Contraseña: <span class="text-red">*</span></label>
          <input type="password"
                 id="password"
                 formControlName="password">
        </div>

        <div class="form-field"
             *ngIf="newUser">
          <label for="password-confirm">Confirmar Contraseña:</label>
          <input type="password"
                 id="password-confirm"
                 formControlName="passwordConfirm">
        </div>

        <span class="error-message"
              *ngIf="showError">{{errorText}}</span>

        <div class="buttons-container">
          <button (click)="onLogin($event)"
                  class="btn-primary"
                  *ngIf="!newUser">Ingresar</button>
          <button (click)="onSignUp($event)"
                  class="btn-outline"
                  *ngIf="newUser">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
